<!DOCTYPE html>
<html lang="en">
<head>
    {% include "components/header.html" %}
</head>
<body>
    {{ nav.navigation.render(renderer='navbar') }}

    <div class="profile">
        <h1>{{ title }}</h1>
    </div>

    <form method="POST" class="form" id="form">
        <div class="form-section">
            <label> Name </label>
            <input name="name" type="text" required>
        </div>
        <div class="form-section">
            <label> Email </label>
            <input name="email" type="email" required>
        </div>
        <div class="form-section">
            <label> Content </label>
            <input name="content" type="text" required>
        </div>
        <button type="submit"> Submit </button>
        <button type="reset"> Reset </button>
    </form>

    <script>
        const form = document.getElementById('form')

        form.addEventListener('submit', function(e){
            e.preventDefault();

            const pre_post = new FormData(form);
            const post = new URLSearchParams(pre_post);

            console.log([...post])
            // http://127.0.0.1:5000/api/timeline_post
            // http://brandonsomoza.duckdns.org:5000/api/timeline_post
            fetch('http://127.0.0.1:5000/api/timeline_post', {
                method: "POST",
                body: post,
            })
            .then(res => res.json())
            .then(data => console.log(data))
            .catch(err => console.log(err));
            location.reload()
        })
    </script>
    
    <div class="timeline">
        <ul>
        <h1> Posts </h1>
        {% for post in all_posts %}
            {% for i in range(0, all_posts[post]|length) %}
                <div class='timeline-posts'> 
                    <p> Name: {{ all_posts[post][i].name }}</p>
                    <p> Email: {{ all_posts[post][i].email }}</p>
                    <p> Content: {{ all_posts[post][i].content }}</p>
                    <p> Date: {{ all_posts[post][i].created_at }}</p>
                    <hr>
                </div>
            {% endfor %}
        {% endfor %}
        </ul>
    </div>
    
</body>
</html>